<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <meta charset="UTF-8"/>
    <title>追加项目</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.4.4.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        function createLeftTask() {
            var buildAppParam = new Array();
            for (var key in appMap) {
                var projectId = key.split("_")[0];
                var appId = key.split("_")[1];
                var branch = $("#branch_" + projectId).val();
                buildAppParam.push({projectId: projectId, appId: appId, branch: branch});
            }
            $.ajax({
                url: '/mirror/createTaskNewLeft',
                type: "post",
                datatype: "text",
                data: {buildAppParamList: JSON.stringify(buildAppParam) , taskId : $("#taskId").val()},
                success: function (data) {
                    alert("保存成功");
                }
            });
        }

        function chooseApp(appValue) {
            appMap[appValue] = '';
        }

        var appMap = {};
        /*]]>*/
    </script>
</head>
<body>

<div th:each="project : ${projects}">
    项目:<span th:text="${project.projectName}"></span>
    分支:<select th:id="${'branch_' + project.id}">
    <option></option>
    <option th:each="git : ${project.gitBranchVos}" th:text="${git}" th:value="${git}"></option>
</select>
    <div th:each="app : ${project.appModelVoList}">
        <input type="checkbox" onclick="chooseApp(this.value)" name="cbxApp" th:value="${project.id+'_'+app.id}"
               th:text="${app.appName}"/>
    </div>
</div>
<input type="hidden" id="taskId" th:value="${taskId}"/>
<input type="button" onclick="createLeftTask()" value="提交"/>
</body>
</html>
