<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <meta charset="UTF-8"/>
    <title>构建镜像任务</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.4.4.min.js}"></script>
    <script th:inline="javascript">
        var logInterval = null;

        /*<![CDATA[*/

        function createTask() {
            var buildAppParam = new Array();
            for (var key in appMap) {
                var projectId = key.split("_")[0];
                var appId = key.split("_")[1];
                var branch = $("#branch_" + projectId).val();
                buildAppParam.push({projectId: projectId, appId: appId, branch: branch});
            }
            $.ajax({
                url: '/mirror/createTaskNew',
                type: "post",
                datatype: "text",
                data: {buildAppParamList: JSON.stringify(buildAppParam)},
                success: function (data) {
                    alert("保存成功");
                    $("#taskId").val(data);
                    logInterval = window.setInterval(function () {
                        showLog();
                    }, 1000);
                }
            });
        }

        function showLog(taskId) {
            $.ajax({
                url: '/mirror/log?taskId=' + $("#taskId").val(),
                type: "get",
                contentType: 'text/html;charset=utf-8',
                datatype: "text",
                success: function (data) {
                    $("#log").html(data);
                    if (data.indexOf("<publishfinish></publishfinish>") != -1) {
                        if (logInterval !== null) {
                            window.clearInterval(logInterval);
                            logInterval = null;
                        }
                    }
                }
            });
        }

        function chooseApp(appValue) {
            appMap[appValue] = '';
        }

        var appMap = {};
        /*]]>*/
    </script>
</head>
<body>

<div th:each="project : ${projects}">
    项目:<span th:text="${project.projectName}"></span>
    分支:<select th:id="${'branch_' + project.id}">
    <option></option>
    <option th:each="git : ${project.gitBranchVos}" th:text="${git}" th:value="${git}"></option>
</select>
    <div th:each="app : ${project.appModelVoList}">
        <input type="checkbox" onclick="chooseApp(this.value)" name="cbxApp" th:value="${project.id+'_'+app.id}"
               th:text="${app.appName}"/>
    </div>
</div>

<div id="log"></div>
<input type="button" onclick="createTask()" value="提交"/>
<input type="hidden" id="taskId"/>
<input type="hidden" id="appInfos"/>
</body>
</html>
