<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <meta charset="UTF-8"/>
    <title>构建镜像任务</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.4.4.min.js}"></script>
    <script th:inline="javascript">
        var logInterval = null;

        /*<![CDATA[*/
        function loadApps() {
            queryApps();
            queryBranch();
        }

        function queryApps() {
            var projectIdValue = $("#project").val();
            if (projectIdValue != '') {
                $.ajax({
                    url: '/mirror/loadApps?projectId=' + projectIdValue,
                    type: "get",
                    datatype: "json",
                    success: function (data) {
                        $('#appTable').html('');
                        for (var i = 0; i < data.length; i++) {
                            var app = data[i];
                            $('#appTable').append('<tr><td>' + app.appId + '</td><td>' + app.appName + '</td></tr>');
                        }
                    }
                });
            }
        }

        function queryBranch() {
            var projectIdValue = $("#project").val();
            if (projectIdValue != '') {
                $.ajax({
                    url: '/mirror/loadBranchs?projectId=' + projectIdValue,
                    type: "get",
                    datatype: "json",
                    success: function (data) {
                        $("#branch").empty();
                        $("#branch").append("<option value=''></option>");
                        for (var i = 0; i < data.length; i++) {
                            var branch = data[i];
                            $("#branch").append("<option value='" + branch.name + "'>" + branch.name + "</option>");
                        }
                    }
                });
            }
        }

        function createTask() {
            var projectId = $("#project").val();
            var branch = $("#branch").val();
            if (projectId == '' || branch == '') {
                alert("请选择项目和分支");
                return;
            }
            $.ajax({
                url: '/mirror/createTask',
                type: "post",
                datatype: "text",
                data: {publishProjectId: projectId, branch: branch},
                success: function (data) {
                    alert("保存成功");
                    $("#taskId").val(data);
                    logInterval = window.setInterval(function () {
                        showLog();
                    }, 1000);
                }
            });
        }

        function showLog(taskId) {
            $.ajax({
                url: '/mirror/log?taskId=' + $("#taskId").val(),
                type: "get",
                contentType: 'text/html;charset=utf-8',
                datatype: "text",
                success: function (data) {
                    $("#log").html(data);
                    if (data.indexOf("<publishfinish></publishfinish>") != -1) {
                        if (logInterval !== null) {
                            window.clearInterval(logInterval);
                            logInterval = null;
                        }
                    }
                }
            });
        }

        /*]]>*/
    </script>
</head>
<body>
项目:<select name="project" id="project" onchange="loadApps()">
    <option></option>
    <option th:each="project : ${projects}"
            th:value="${project.id}"
            th:text="${project.projectName}">
    </option>
</select>

分支:<select name="branch" id="branch"></select>

<table id="appTable">
</table>
<div id="log"></div>
<input type="button" onclick="createTask()" value="提交"/>
<input type="hidden" id="taskId"/>
</body>
</html>
