<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <meta charset="UTF-8"/>
    <title>待启动镜像</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.4.4.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function run(taskId) {
            $.ajax({
                url: '/mirror/run?taskId=' + taskId,
                type: "get",
                contentType: 'text/html;charset=utf-8',
                datatype: "text",
                success: function (data) {
                    alert(data);
                }
            });
        }

        /*]]>*/
    </script>
</head>
<body>

<table>
    <tr th:each="tdk : ${taskIds}">
        <td th:text="${tdk}"></td>
        <td><input onclick="run(this.value)" type="button" th:value="${tdk}" th:text="启动" /></td>
        <td><input type="button" th:text="停止" /></td>
    </tr>
</table>
</body>
</html>
